@import './variable';

@mixin tstart {
    text-align: start;

}

@mixin positionEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

@mixin center {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin customBtn {
    padding: 6px 12px;
    border-radius: 12px;
    border: 1px solid wheat;
    
}

@mixin label{
    display: block;
    text-align: start;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 5px;
}

@mixin input{
    display: block;
    outline: none;
    border-radius: 12px;
    // max-width:100%;
    width: 100%;
    // padding:8px 10px;
    position: relative;
 
   
}