@import './variable';

@mixin tstart {
    text-align: start;

}

@mixin center {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin customBtn {
    padding: 6px 12px;
    border-radius: 12px;
    border: 1px solid wheat;
    

    
}