@import '../../designs/_mixin.scss';


@mixin tableCollapse {
    // border: 1px solid black;
    border-collapse: collapse;


}

.bookContainer {
    // display: grid;
    // grid-template-columns: repeat(2,1fr);
    margin: 30px auto;
}



.addBtn {
    @include customBtn;
    background-color: rgb(13, 13, 165);
    color: white;
    margin-bottom: 10px;
}

#userTable {
    @include center;
    @include tstart;
    margin-bottom: 30px;

    table,
    th,
    td {
        @include tableCollapse;
        padding: 6px 20px;

        tr,
        th,
        td {

            border: 1px solid black;
        }
    }

}


#userTable .head1Container {
    border: 0;

    .searchContainer,
    .addStationContainer {
        border: 0;
        padding-bottom: 10px;

    }

    .searchContainer {
        padding-left: 0;

        .searchField {
            @include input;
            background-color: cornsilk;
            font-size: 16px;

        }

    }

    .addStationContainer .tableAdd{
        float: right;
    }





}




#userTable .updateBtn {
    @include customBtn;
    background-color: $updateBtnBg;
    color: $updateBtnT;

}

#userTable .deleteBtn {
    @include customBtn;
    background-color: $deleteBtnBg;
    color: $updateBtnT;

}