@import '../../designs/_mixin.scss';


@mixin tableCollapse {
    border: 1px solid black;
    border-collapse: collapse;

    
}


.tableConteiner{
    @include center;
    @include tstart;
    
}



table,th,td{
    @include tableCollapse;
    padding: 6px 20px;
}

.updateBtn{
    @include customBtn;
    background-color: $updateBtnBg;
    color:$updateBtnT;

}
.deleteBtn{
    @include customBtn;
    background-color: $deleteBtnBg;
    color:$updateBtnT;

}



